<p class="body_ad">
	<div class="body_ad">
		<div class="wide">
			<!-- MTS Extra Wide -->
			<ins class="adsbygoogle"
				 style="display:inline-block;width:728px;height:90px"
				 data-ad-client="ca-pub-3844415490682338"
				 data-ad-slot="1094451619"></ins>
			<script>
				(adsbygoogle = window.adsbygoogle || []).push({});
			</script>
		</div>
		<div class="normal">
			<!-- MTS Body -->
			<ins class="adsbygoogle"
				 style="display:inline-block;width:468px;height:60px"
				 data-ad-client="ca-pub-3844415490682338"
				 data-ad-slot="5499563823"></ins>
			<script>
			(adsbygoogle = window.adsbygoogle || []).push({});
			</script>
		</div>
	</div>
</p>