<div class="modal fade" id="questions-nag-modal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title">Do you have a question?</h4>
			</div>
			<div class="modal-body">
				<p><a href="http://community.musictheorysite.com/login"><img src="/assets/img/dwight_question.jpg" class="img-responsive center-block" alt="" /></a></p>
				<p>
					Need help understanding a musical concept or figuring out chords to a song?
				</p>
				<p>
					The new Q&amp;A section is a great place to ask questions or give answers to any music related questions.  Check it out!
				</p>
				<p style="text-align:center;">
					<a href="http://community.musictheorysite.com/login" class="btn btn-primary">Ask a Question!</a>
				</p>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->