<h2>Start Here!</h2>
<ul>
	<li><a href="/the-staff">The Staff</a></li>
	<li><a href="/clefs">Clefs</a></li>
	<li><a href="/sharps-and-flats">Sharps and Flats</a></li>
	<li><a href="/key-signatures">Key Signatures</a></li>
	<li><a href="/time-signatures">Time Signatures</a></li>
</ul>
<h2>Scales</h2>
<ul>
	<li><a href="/intervals">Intervals</a></li>
	<li><a href="/major-scales">Major Scales</a></li>
	<li>
		<ul>
			<li><a href="/major-scales/list-of-all-major-scales">List of All Major Scales</a></li>
		</ul>
	</li>
	<li><a href="/minor-scales">Minor Scales</a></li>
	<li>
		<ul>
			<li><a href="/minor-scales/list-of-all-minor-scales">List of All Natural Minor Scales</a></li>
		</ul>
	</li>
	<li><a href="/pentatonic-scales">Pentatonic Scales</a></li>
	<li><a href="/the-circle-of-fifths">The Circle of Fifths</a></li>
</ul>
<h2>Chords</h2>
<ul>
	<li><a href="/triads">Triads</a></li>
	<li><a href="/extended-chords">7ths &amp; Extended Chords</a></li>
	<li><a href="/major-diatonic-chords">Diatonic Chords in a Major Key</a></li>
	<li><a href="/creating-diatonic-chord-progressions">Creating Diatonic Chord Progressions</a></li>
	<li><a href="/12-bar-blues">12 Bar Blues</a></li>
</ul>
<h2>Guitar Videos</h2>
<ul>
	<li><a href="http://youtu.be/oLPMbzVrAVQ">Ed Sheeran - Thinking Out Loud</a></li>
	<li><a href="http://youtu.be/0TDauBX5zAg">John Mayer - My Stupid Mouth</a></li>
	<li><a href="http://youtu.be/wZB2_nOM0RM">John Mayer - Waitin' On the Day</a></li>
</ul>
<h2>Tools</h2>
<ul>
	<li><a href="/scale-generator/">Scale Generator Tool</a></li>
	<li><a href="/namethatkey/">Key Identifier</a></li>
	<li><a href="/namethatchord/">Guitar Chord Identifier</a></li>
</ul>
<!--
<h2>Recording</h2>
<ul>
	<li><a href="/building-a-home-studio/introduction">Building a Basic Home Studio</a></li>
	<li>
		<ul>
			<li><a href="/building-a-home-studio/audio-interface">Audio Interface</a></li>
			<li><a href="/building-a-home-studio/studio-monitors-headphones">Studio Monitors &amp; Headphones</a></li>
						</ul>
	</li>
</ul>
-->
<h2>Other Stuff</h2>
<ul>
	<li><a href="/contact">Contact</a></li>
</ul>
{% include tall_ad.html %}

