/* Basics and Typography */
@font-face {
    font-family: 'accidentalsregular';
    src: url('/assets/fonts/accidentals.eot');
    src: url('/assets/fonts/accidentals.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/accidentals.woff') format('woff'),
         url('/assets/fonts/accidentals.ttf') format('truetype'),
         url('/assets/fonts/accidentals.svg#accidentalsregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Small devices (tablets, 768px and up) */
@media (max-width: 768px) {
	div.body_ad .normal {display:block;}
	div.body_ad .wide {display:none;}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 768px) {
	div.body_ad .normal {display:none;}
	div.body_ad .wide {display:block;}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) {
	
}

body {background:#FCFCF5;color:#282828;-webkit-font-smoothing:antialiased;padding-top:47px;line-height:1.9;font-size:16px;}
h1, h2, h3, h4, h5 {font-family:'Merriweather','serif';font-weight:bold;}
h1, .h1 {font-size:30px;}
h2, .h2 {font-size:26px;}
a {cursor:pointer;}
h1 {line-height:45px;margin-bottom:30px;}
h2 {border-bottom: 2px solid #e1dbce;}
h3 {border-bottom:1px solid #e1dbce;font-size:1.5em;font-style:italic;}
p, ul {margin: 0 0 15px;}
blockquote, table.blockquote {background-color:#ffffff;border: 1px solid #E1DBCE;border-radius: 4px;-moz-border-radius: 4px;-webkit-border-radius: 4px;box-shadow: 0px 0px 10px -3px #CCC;font-size:14px;}
blockquote p {font-size:14px;}
img {border:2px solid #E1DBCE;}
	img.aligncenter {display: block;margin-left: auto;margin-right: auto;}
header h1 {margin:12px 0;background-image: url(/assets/img/round_mts_logo.gif) !important;background-repeat: no-repeat;padding-left: 70px;line-height: 62px;color:#282828;}
#sidebar {border-left:1px solid #C9C6B3;}
	#sidebar h2 {font-size:18px;margin-bottom:12px;}
	#sidebar ul {list-style-type:none;padding-left:0;line-height:25px;}
		#sidebar ul li ul {list-style-type:none;padding-left:20px;line-height:25px;}

#content, .navbar .container {max-width:960px;}
#content a:link, #content a:visited {color:#282828;text-decoration:underline;}
#content a:hover {}
.intro {font-size:18px;}
.body_ad {text-align:center;}
article p {line-height:25px;}
footer {margin-bottom:30px;border-top:2px solid #e1dbce;padding:8px 0;}
#bottom_share_bar {height:38px;width:100%;position:fixed;bottom:0;background:#fff;border-top:1px solid #ddd;padding:8px 0;}

.accidental {font-family: 'accidentalsregular';}
    .accidental.flat:before {content:'\266d';}
    .accidental.sharp:before {content:'\266f';}
    .accidental.natural:before {content:'\266e'};
    .accidental.double-flat:before {content:'\1d12b';}
    .accidental.double-sharp:before {content:'\1d12a'}

.stave, .vex-canvas, .notation {background:#FFFFFF;border:2px solid #E1DBCE;}


/* bootstrap changes */
a.btn:link, a.btn:visited {text-decoration:none !important;}
.btn {color:#ffffff !important;font-weight:bold;border-radius:0;}
.navbar {border-bottom:2px solid #ffb70a;}
.navbar-inverse .navbar-brand {padding:10px 15px;color:#ffffff;font-family:'Merriweather','serif';}
.navbar img {border:0 !important;}

.navbar-inverse .navbar-nav>li>a {color: #ccc;}

.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {border-top:0;}

/* Modals */
.modal-title {font-size:22px;}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

